{{define "footer"}}
    <footer>
        <section class="footer-container">
            <section class="footer-line"/>
            <section class="footer-text">Usearch inc @2023</section>
        </section>
    </footer>
{{end}}