/cdb-schema
/k8s/**
/dist/**
/test/**
/.github/**
/coverage/**
/.vscode/**
/.data/**
Procfile
Dockerfile
.dockerignore
.travis.yml
.gitignore
docker-compose.yml
.codeclimate.yml
README.md
LICENSE
Makefile
*.log
*.envrc
.env
