.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* align flex items on the main axis. ie [column axis in this case] */
    align-items: stretch; /* align flex items on the cross axis. ie [row axis in this case] */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-link {
    text-decoration: none;
}

.title-form-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 40px;
    color: #34495E;
    text-align: center;
}

.u {
    color: #FF0000;
}

.s {
    color: #34495e;
}

.e {
    color: #FF5A00;
}

.a {
    color: #ffb606;
}

.r {
    color: #62cb31;
}

.c {
    color: #3498db;
}

.h {
    color: #9b59b6;
}

.u, .s, .e, .a, .r, .c, .h {
    font-size: 1.8rem;
    line-height: 46px;
    letter-spacing: 2px;
}

.search-input-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    padding-left: 20px;
}

.search-input {
    height: 40px;
    width: 600px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding-left: 12px;
    padding-right: 12px;
    border-right-style: none;
    border-width: 1px;
}

.search-input::placeholder {
    color: #34495E;
}

.search-input:focus {
    border-color: #34495E;
    outline: none;
}

.search-button {
    width: 80px;
    height: 40px;
    cursor: pointer;
    border-style: solid;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-left-style: none;
    border-width: 1px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    overflow: hidden;
}

.search-button:hover {
    outline: none;
    border-color: transparent;
    background-color: #3498db;
}

.active-search-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-top: 10px;
}

.active-search-label {
    font-size: 1rem;
    font-weight: 600;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    height: 30px;
    padding-left: 20px;
    position: relative;
    color: #3498db;
}

.active-search-hr {
    height: 3px;
    border-width: 0;
    color: #3498db;
    background-color: #3498db;
    width: 3.2%;
    text-align:left;
    margin-left: 0
}

.header-section-hr {
    margin-top: 0px;
    border-style: inset;
    border-width: 1px;
    border: 1px solid inherit;
}

.total-result-count {
    color: inherit;
    font: 14px;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 5px;
}

.search-results-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.single-result-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.result-title {
    font-size: 20px;
    font-weight: bold;
    color: #3498db;
    text-align: left;
    text-decoration: none;
}

.result-title:visited {
    color: #0000FF;
}

.result-url {
    font-size: 14px;
    color: #62cb31;
    cursor: pointer;
}

.result-summary {
    font-size: 16px;
    color: #34495e;
    text-align: left;
    width: 700px;
    margin-bottom: 10px;
}

.pagination-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination-section a {
    text-decoration: none;
    color: #34495e;
    font-size: 20px;
    font-weight: bold;
}

.pagination-section a:visited {
    color: #0000FF;
}

.no-results-msg-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-results-msg {
    font-size: 20px;
    color: #FF0000;
}
